/*.body2 {
    background-image: url(../imagenes/bckg.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
header {
    text-align: center;
    color: rgb(223, 223, 223);
    font-size: 200%;
}
.texto-central {
    text-align: center;
    color: rgb(188, 136, 103);
    font-size: 150%;
}

.contenedor {
    text-align: center;
    color: rgb(5, 4, 4);
    font-size: 150%;
}
.galeria {
    display: flex;
    justify-content: flex-start;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    flex-wrap: nowrap;
    display:flex;

}*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "open Sans", Arial,sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
 header{
border: 3px solid red ;
width: 100%;
background: url(../imagenes/acerca-de.jpeg)rgb(100, 70, 34);
background-size: cover;
background-attachment: fixed;
background-position: center;
}
header .contenedor{
    position: relative;
    height: 700px;
 }
 header .menu1{
    width: 100%;
    text-align: right;
    
 }
 header .menu1 a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font: weight 300px;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
 }
 header .menu1 a:hover {
    text-decoration: underline;
 }