/*.body2 {
    background-image: url(../imagenes/bckg.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
header {
    text-align: center;
    color: rgb(223, 223, 223);
    font-size: 200%;
}
.texto-central {
    text-align: center;
    color: rgb(188, 136, 103);
    font-size: 150%;
}

.contenedor {
    text-align: center;
    color: rgb(5, 4, 4);
    font-size: 150%;
}
.galeria {
    display: flex;
    justify-content: flex-start;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    flex-wrap: nowrap;
    display:flex;

}*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "open Sans", Arial,sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
 header{
border: 3px solid red ;
width: 100%;
background: url(../imagenes/acerca-de.jpeg)rgb(100, 70, 34);
background-size: cover;
background-attachment: fixed;
background-position: center;
}
header .contenedor{
    position: relative;
    height: 700px;
 }
 header .menu1{
    width: 100%;
    text-align: right;
    
 }
 header .menu1 a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font: weight 300px;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
 }
 header .menu1 a:hover {
    text-decoration: underline;
 }
 header .texto {
    color: rgb(255, 255, 255);
    position: absolute;

    top: 50%;
    margin: -52px;
 }
 header .texto .nombre {
    font-size: 50px;
    font-weight: 600;
 }
 header .texto .nombre span{
    font-weight: 300;
 }
 header .texto .h3{
    font-weight: 300;
    font-size: 25px ;
    font-style: italic;
 }
 .main {
    background: url(../imagenes/textura.jpeg);
    background-repeat: repeat;
 }
.main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
}
.main .acerca-de .foto{
    width: 80%;
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
}
.main ,.acerca-de .foto img{
    vertical-align: top;
    width: 100%;
}
.main .acerca-de article {
    background-color: rgb(243, 243, 244);
    padding: 40px;
    width: 50%;
    position: relative;
    top: 500px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
}
.main .acerca-de .article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 50px;
}
.main .acerca-de .article p{
    line-height: 28px;
    margin-bottom: 40px;
}
